.b
    width 100vw
    height calc(100vh - 64px)
    display grid
    place-items center

.rewardsc
    font-family sans-serif
    height 30vw
    justify-self center
    align-self center
    color white
    overflow hidden
    .rewards
        border: solid 2px black
        padding 39px  
        overflow scroll
        height 70%  

